---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import ProjectCard from '../components/ProjectCard.astro';

const allProjects = await getCollection('proyectos');
// @ts-ignore
const sortedProjects = allProjects.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<Layout title="Nuestros Proyectos | Elevawod" description="Un vistazo a todos los proyectos que hemos realizado.">
  <section class="py-20 px-8">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-serif font-bold mb-12 text-primary">Todos Nuestros Proyectos</h1>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        {sortedProjects.map(project => (
          <ProjectCard project={project} />
        ))}
      </div>
    </div>
  </section>
</Layout>