---
import type { CollectionEntry } from 'astro:content';
import ProjectCard from './ProjectCard.astro';

export interface Props {
  projects: CollectionEntry<'proyectos'>[];
}

const { projects } = Astro.props;
---
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 py-8 justify-self-center">
    {projects && projects.map(project => (
        <ProjectCard project={project} />
    ))}
</div>