---
import ProjectCard from './ProjectCard.astro';
// Define la prop 'projects' que viene de index.astro
const { projects } = Astro.props;
---
<div class="portfolio-grid">
    {projects.map(project => (
        <ProjectCard project={project} />
    ))}
</div>

<style>
    .portfolio-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
        padding: 2rem 0;
    }
</style>